/*网格*/
#page-body{
    background:#58a;
    background-image:
            linear-gradient(white 1px,transparent 0),
            linear-gradient(90deg,white 1px,transparent 0),
            linear-gradient(hsla(0,0%,100%,.3)1px,
            transparent 0),
            linear-gradient(90deg,hsla(0,0%,100%,.3) 1px,
            transparent 0);
    background-size: 75px 75px,75px 75px,
    15px 15px,15px 15px;
}

/*点阵*/
#page-body{
    background:white;
    background-image:
            linear-gradient(white 14px,transparent 0),
            linear-gradient(90deg,#58a 1px,transparent 0);
    background-size:15px 15px,15px 15px;
}