<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- JQ -->
    <script src="assets/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="assets/vue/vue.js"></script>
    <!-- drag -->
    <script src="assets/tdrag/Edrag.js"></script>
    <script src="assets/edraw/Edraw.js"></script>
    <script src="js/pageEdit.js"></script>
    <!-- css -->
    <link href="css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="app">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">编辑面板</h3>
            </div>
            <div class="panel-body">
                <!-- 工具栏 -->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">页面属性</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a v-on:click="preview()">页面预览<span class="sr-only">(current)</span></a></li>
                            </ul>
                            <form class="navbar-form navbar-left">
                                <label>页面尺寸：</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="页面宽度" v-model="page.width">X<input type="number" class="form-control" placeholder="页面高度" v-model="page.height">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">元素属性</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a v-on:click="add()">添加元素<span class="sr-only">(current)</span></a></li>
                            </ul>
                            <form class="navbar-form navbar-left" v-if="element != null">
                                <label>坐标：</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="X" v-model="element.left">X<input type="number" class="form-control" placeholder="Y" v-model="element.top">
                                </div>
                                <label>尺寸：</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="width" v-model="element.width">X<input type="number" class="form-control" placeholder="height" v-model="element.height">
                                </div>
                                <label>层位：</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="z-index" v-model="element.zIndex">
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
                <!-- 编辑器 -->
                <div id="page-edit">
                    <div id="page-body" v-bind:style="{width:page.width + 'px',height:page.height + 'px'}" class="test">
                        <div v-for="element in elements"
                             class="page-element"
                             v-bind:style="{width:element.width + 'px',height:element.height + 'px',left:element.left + 'px',top:element.top + 'px',zIndex:element.zIndex}"
                             v-on:mousedown="changeing($event,element)"
                             v-on:click="select(element)"
                             v-on:dblclick="openEdit(element)">
                            <div class="title"><span class="glyphicon glyphicon-remove" aria-hidden="true" v-on:click="del(element)"></span></div>
                            <div class="content">
                                <div v-if="element.data && element.data.type">{{element.data.type}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 编辑窗口 -->
        <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">添加元素</h4>
                    </div>
                    <div class="modal-body">
                        <form v-if="element != null">
                            <div class="form-group">
                                <label>组件类型：</label>
                                <select class="form-control" v-model="componentEdit.type">
                                    <option v-for="(item,key) in components" v-bind:value="key">{{key}}</option>
                                </select>
                            </div>

                            <div class="panel panel-info" v-if="components[componentEdit.type]">
                                <div class="panel-heading">组件参数</div>
                                <div class="panel-body">
                                    <div class="form-group" v-for="param in components[componentEdit.type].params">
                                        <label v-if="param.label">{{param.label}}</label>
                                        <label v-else>{{param.name}}</label>
                                        <input type="text" class="form-control" placeholder="" v-model="componentEdit.params[param.name]">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="confirmEdit()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- 运行脚本 -->
<script src="js/app.js"></script>
<!-- 绘制网格css -->
<link href="css/grid.css" rel="stylesheet" type="text/css" />
